<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form Page Using ngModel
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content> 

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Login Page
      </ion-card-title>
    </ion-card-header>

   <ion-card-content> 
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item> 
      <ion-button (click)="logForm()" size="lager" color="primary" expand="block">Login</ion-button> 

     <ion-text>
       <h2>{{username}}</h2>
       <h2>{{password}}</h2>
     </ion-text>
   </ion-card-content>
</ion-card>
</ion-content>